

/*** RESETS ***/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color:cadetblue;
}

header{
    display: flex;
    justify-content: space-between;
    border: 0 none;
    margin: 25px;
}


/*** GLOBAL CLASSES***/
.text-center{
    text-align: center;
    
}

.hide{
    display: none;
}




/*** CUSTOM STYLES ***/

.main-header{
    margin: 45px 0 25px;
}

.quiz-wrap #start{
    background-color: rgb(94, 238, 238);
    padding: 10px 0;
    min-width: 150px;
    font-size: 1rem;
    border-radius: 10px;
    margin: 15px 0 0 0;
    border: solid teal;
    
}

.quiz-wrap #start:hover{
    background-color: rgb(142, 201, 201);
    
}

.quiz-display{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0 ;
    justify-content: start;
    
}

.quiz-display button{
    background-color: rgb(94, 238, 238);
    padding: 10px 0;
    /* width: 10px; */
    min-width: 150px;
    font-size: 1rem;
    border-radius: 10px;
    margin: 15px 80rem 0 10rem;
    border: solid teal;


}

.quiz-display button:hover{
    background-color: rgb(142, 201, 201);
    
}



/*** RESPONSIVE STYLES ***/













